<div style="text-align:center;height:800px;">
  <div style="text-align:center;">
    <h1> RAC SERVER </h1>
    <br/><br/>
    <% if flash[:notice] -%>
      <div id="notice"><%= flash[:notice] %></div>

    <br/>
    <% end -%>

    <div style="padding:20px;text-align:center;"> 
        <!-- taken from huch.com's image. I'm assuming this is a publicly available image -->
        <a style="text-decoration:none;background-attachment:scroll;background-clip:border-box;background-color:transparent;background-image:none;background-origin:padding-box;background-repeat:no-repeat;position: relative; top: 6%" class="left imga" href="/fb" rel="nofollow"><img style="background-color: white;" src="/images/fb.png" alt="Connect with Facebook"></a>
        <br/>
        <br/>
        OR
        <br/>
        <br/>
        <%= link_to "Login via RAC Server Account", "/user_sessions/new" %>
        <br/>
    </div>
    Don't have an account? <%= link_to "Register!", register_path %>
  </div>
</div>
