<!DOCTYPE html>
<html>
<head>
  <title>RacServer</title>
  <%= stylesheet_link_tag :all %>
<!--  <%#= javascript_include_tag "prototype.js", "application.js", "rails.js" %> -->
  <%= javascript_include_tag "jquery.js" %>
  <%#= calendar_date_select_includes :style => "silver" %>
  <%= csrf_meta_tag %>
  <link rel="shortcut icon" href="/images/favicon.ico"/>
</head>
<body>

<%= yield %>

</body>
</html>
